# Ignore all
/*


# Exclusions
# Folders (and their subdirs)
!/.config/
!/.scripts/
/.scripts/personal
!/.local/
/.local/*
!/.local/narb/
!/Templates/

# Specific files
!/.gitignore
!/.xinitrc
!/.xprofile
!/.xscreensaver
!/.xsession
!/.zprofile
!/.profile
!/.bash_profile
!/.bashrc
!/readme.md
!/.tmux.conf
!/.latexmkrc
