# Ignore all
/*


# Exclusions

# Allow dotfiles in ~, but don't allow folders starting with dot
!.*
.*/

# .config - too many in more workstation/kde envs / work
# ...so we will manually whitelist here
!/.config/
/.config/*
# folders
!/.config/dunst/
!/.config/fcitx5/
!/.config/fontconfig/
!/.config/foot/
!/.config/git/
!/.config/i3status-rust/
!/.config/kitty/
!/.config/mpv/
!/.config/MusicBrainz/
!/.config/nvim/
!/.config/ranger/
/.config/ranger/shortcut.conf
!/.config/sway/
!/.config/swaylock/
!/.config/wireplumber/
!/.config/zathura/
# files
!/.config/aliasrc/
!/.config/inputrc/
!/.config/mimeapps.list/
!/.config/user-dirs.dirs/

# Scripts - include subpaths except our private
!/.scripts/
/.scripts/personal
/.scripts/thirdparty

# .local - can add more as we go
!/.local/
/.local/*
!/.local/ntay/

# Specific folders
!/Templates/

# Specific files
!/README.md


# Ignore back again
.Xauthority
.xsession-errors
.viminfo
.lesshst
.DS_Store
.*_history
.*_logout
*.swo
*.swp
/.gtkrc*

