# Text editor crap
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/

# OS crap
.DS_Store
Thumbs.db

# Other
*.log


# vim stuffs
vim/.vim/.netrwhist
vim/.vim/plugged/
vim/.vim/autoload/plug.vim

# qutebrowser
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/qsettings/
