#!/bin/sh

# Runs on DM startup if using one
xrdb -merge $HOME/.config/X11/Xresources

# Autostart stuffs
# The basics
picom -b & # compositor (compton)
setwp & # wallpaper
remapkb & # remap keyboard caps esc thing

# dwm basics
if [ "$NARB_WM" = "dwm" ]; then
	sxhkd &
	dwmblocks &
fi

# More
#urxvtd -f & # terminal
dunst & # notifs
unclutter & # hides mouse after delay
numlockx & # numlock ON by default
#keynav & # jump

# gnome-keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets)
export SSH_AUTH_SOCK

nextcloud --background &

# Additionals
killall -q redshift; redshift -l 37.8136:144.9631 -t 6500K:2700K & # f.lux style with melbourne and warms
[ ! -s $HOME/.config/mpd/pid ] && mpd & # music
! pgrep -x "mpdscribble" && mpdscribble & # music last.fm

# Input method (zh/kr)
fcitx &

# Locking
# Keep from sleeping tool
caffeine &
# Screensaver app
xscreensaver -no-splash &
# Subscribe to systemd events to start lock
#xss-lock -- xscreensaver-command -lock &


# Host-based include
[ -f "$NARB_OVERRIDES/xprofile.$NARB_HOST" ] && . "$NARB_OVERRIDES/xprofile.$NARB_HOST"
