#!/bin/sh

# Runs on DM startup if using one
xrdb -merge $HOME/.config/X11/Xresources


# Autostart stuffs
# The basics
picom -b -f & # compositor (compton)
setwp & # wallpaper
sxhkd & # hotkey daemon
remapkb & # remap keyboard caps esc thing

# More
urxvtd -f & # terminal
dunst & # notifs
unclutter & # hides mouse after delay
numlockx & # numlock ON by default

# Additionals
killall -q redshift && redshift -l 37.8136:144.9631 -t 6500K:2700K & # f.lux style with melbourne and warms
[ ! -s $HOME/.config/mpd/pid ] && mpd & # music
! pgrep -x "mpdscribble" && mpdscribble & # music last.fm
# Local overrides
[ -f $HOME/.config/localxprofile ] && . $HOME/.config/localxprofile

# IBus (zh/kr) ime
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
export IBUS_ENABLE_SYNC_MODE=0
ibus-daemon -drx


# Locking
# Use lightdm + light-locker
light-locker --no-late-locking &
# Keep from sleeping tool
caffeine &
# 5 mins -> notify, then 30secs to actual lock
xset s 300 30
xss-lock -n $HOME/.scripts/tools/prelock -- light-locker-command -l &
