! hidpi settings
Xft.dpi: 125.37
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! urxvt settings
URxvt.depth: 32
URxvt.background: [85]#000000
URxvt.scrollBar: false
URxvt.font: xft:mono:size=8
URxvt.letterSpace: -1




! Misc XTerm settings just as a fallback term
! Use truetype in XTerm
XTerm*faceName: Inconsolata
XTerm*faceSize: 8
XTerm*renderFont: true

! Xterm font binds
XTerm*translations: #override \
Super <Key> minus: smaller-vt-font() \n\
Super <Key> plus: larger-vt-font() \n\

XTerm*locale: true


! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #2e3436
*.color8:       #555753

! red
*.color1:       #a31604
*.color9:       #c60001

! green
*.color2:       #447241
*.color10:      #27a343

! yellow
*.color3:       #c1951a
*.color11:      #d5a30e

! blue
*.color4:       #425387
*.color12:      #4a5a8d

! magenta
*.color5:       #965d98
*.color13:      #893c8c

! cyan
*.color6:       #06989a
*.color14:      #12bccb

! white
*.color7:       #d3d7cf
*.color15:      #eeeeec

